{% extends 'base.html.twig' %}

{% block title %}Feature not supported{% endblock %}

{% block body %}
    <div class="px-5 mx-5">
        <div class="card bg-danger text-white mx-5">
            <div class="card-header">
                <h3 class="card-title">Feature no longer supported</h3>
            </div>
            <div class="card-body">
                <strong>Unfortunately in the move from Rocket chat to the new MatterMost chat some features were lost</strong><br/>
                Have no fear though, most of it is still possible to make, I just have to find the time for it. Maybe in due time this feature
                will appear again. Feel free to shoot me a message @myxr if you think something is fairly urgent.
            </div>
        </div>
    </div>
{% endblock %}