{% extends 'base.html.twig' %}

{% block title %}Channel - create{% endblock %}

{% block body %}
    <h2>Create channel</h2>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.identifier) }}
        <button class="btn btn-success btn-disable-click">Save channel</button>
    {{ form_end(form) }}
{% endblock %}