{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <h2 class="mb-4">Forgot password</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_row(form.username) }}
        </div>
    </div>
    <button class="btn btn-warning mt-4 btn-disable-click">Request new password</button>
    {{ form_end(form) }}
{% endblock %}